.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.min, .plus {
  width: 80px;
  height: 80px;
  border: 3px solid black;
  padding-left: 55px;
  padding-top: 15px;
  font-size: 40px;
}

.num {
  width: 80px;
  height: 80px;
  padding-left: 55px;
  padding-top: 15px;
  font-size: 40px;
}